@tailwind base;
@tailwind components;
@tailwind utilities;


.main-container{
  @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8
}
.sec-title{
  font-family: 'Archivo', sans-serif;
}
.sec-title-top{
  font-family: 'Alex Brush', cursive;
}
.sec-desc{
  font-family: 'Montserrat', sans-serif;
}
.text-prime{
  color:#FF7703;
}
.bg-prime{
 background-color:#FF7703;
}
.hover-bg-btn:hover{
  background-color:#ea6d00;
  color:white;
  transition-duration: .4s;
}
.active{
  color:#FF7703;
  background-color: white;
}

.default{
  color:white;
}

.bg-dashboard{
  background-color: #F7F5EF;
}

.sidebar-container {
  @apply  h-full bg-[#fccaa1] sm:w-[30%] md:w-[36%] lg:w-[24%] rounded-3xl  p-4 border transition-all duration-500 border-solid border-[#fccaa1] sm:relative
}
.sidebar-contain{
  @apply  h-full bg-[#fccaa1] rounded-3xl p-4 border transition-all duration-500 border-solid border-[#fccaa1] sm:relative
}
.sidebar {
  @apply flex items-center mt-2 md:px-4 md:py-4 px-3 py-2  rounded-lg cursor-pointer hover:bg-white transition-all duration-300
}

/*  swal*/
.swal2-confirm{
  background-color: #EA6D00!important;
}